/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
.phpunit.result.cache
.phpunit.cache
.env
.env.backup
.env.local
.env.production
.env.testing
auth.json
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
